<p ng-if="vm.loading">cargando</p>
<div id="content" ng-if="!vm.loading">
    <section class="row">
        <div class="results column g-10 centered">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">Jornada 1</th>
                    </tr>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="descansa ">
                            <td>
                                Descansa
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                FS Pichanfles <span class="hide-on-phones">Evolution</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                FS La Bombonera RC
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                FS Kiwana All Star
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cafu Ole FS
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                FS Sport Leganes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cavs FS
                            </td>
                            <td>
                                /
                            </td>
                            <td>
                                /
                            </td>
                            <td>
                                AT Trabenco
                            </td>
                        </tr>
                        <tr class="camellos">
                            <td>
                                FS Camellos
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                6
                            </td>
                            <td>
                                FS Luz Casanova
                            </td>
                        </tr>
                        <tr>
                            <td>
                                FS Puro Peru
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                FS Galicia
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Leganes FS Red Devils
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                13
                            </td>
                            <td>
                                FS ADIL
                            </td>
                        </tr>
                        <tr>
                            <td>
                                FS Selección Botellín
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                FS Los Míticos <span class="hide-on-phones"> de Leganes</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </section>
    <section>    <table id="clasificacion">
        <thead>
            <tr>
                <th>Posición</th>
                <th>Equipo</th>
                <th>PJ</th>
                <th class="hide-on-phones">PG</th>
                <th class="hide-on-phones">PE</th>
                <th class="hide-on-phones">PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>DG</th>
                <th>PT</th>
            </tr>
        </thead>

    <tbody>
            <tr>
        <td>
            1
        </td>
        <td>
            FS Selección Botellín
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            6
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            1
        </td>
         <td>
            40
        </td>
        <td>
            13
        </td>
        <td>
            27
        </td>
        <td>
            18
        </td>
    </tr>    <tr>
        <td>
            2
        </td>
        <td>
            FS Pichanfles
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            5
        </td>
         <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            1
        </td>
         <td>
            34
        </td>
        <td>
            18
        </td>
        <td>
            16
        </td>
        <td>
            16
        </td>
    </tr>    <tr>
        <td>
            3
        </td>
        <td>
            FS Luz Casanova
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            4
        </td>
         <td class="hide-on-phones">
            3
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td>
            26
        </td>
        <td>
            17
        </td>
        <td>
            9
        </td>
        <td>
            15
        </td>
    </tr>    <tr>
        <td>
            4
        </td>
        <td>
            FS La Bombonera
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            5
        </td>
         <td class="hide-on-phones">
            6
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td>
            24
        </td>
        <td>
            15
        </td>
        <td>
            9
        </td>
        <td>
            21
        </td>
    </tr>    <tr>
        <td>
            5
        </td>
        <td>
            Cavs FS
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            4
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td class="hide-on-phones">
            1
        </td>
         <td>
            33
        </td>
        <td>
            20
        </td>
        <td>
            13
        </td>
        <td>
            14
        </td>
    </tr>    <tr>
        <td>
            6
        </td>
        <td>
            FS Kiwana All Star
        </td>
        <td>
            6
        </td>
        <td class="hide-on-phones">
            4
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td>
            31
        </td>
        <td>
            22
        </td>
        <td>
            9
        </td>
        <td>
            12
        </td>
    </tr>    <tr>
        <td>
            7
        </td>
        <td>
            ADIL FS
        </td>
        <td>
            6
        </td>
        <td class="hide-on-phones">
            3
        </td>
         <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td>
            33
        </td>
        <td>
            20
        </td>
        <td>
            13
        </td>
        <td>
            10
        </td>
    </tr>    <tr>
        <td>
            8
        </td>
        <td>
            FS Galicia
        </td>
        <td>
            6
        </td>
        <td class="hide-on-phones">
            3
        </td>
         <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td>
            26
        </td>
        <td>
            22
        </td>
        <td>
            4
        </td>
        <td>
            10
        </td>
    </tr>    <tr>
        <td>
            9
        </td>
        <td>
            FS Los Míticos
        </td>
        <td>
            6
        </td>
        <td class="hide-on-phones">
            2
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            4
        </td>
         <td>
            19
        </td>
        <td>
            27
        </td>
        <td>
            -8
        </td>
        <td>
            6
        </td>
    </tr>    <tr>
        <td>
            10
        </td>
        <td>
            FS Puro Perú
        </td>
        <td>
            6
        </td>
        <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td class="hide-on-phones">
            3
        </td>
         <td>
            16
        </td>
        <td>
            24
        </td>
        <td>
            -8
        </td>
        <td>
            5
        </td>
    </tr>    <tr>
        <td>
            11
        </td>
        <td>
            FS Sport Leganés
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td class="hide-on-phones">
            4
        </td>
         <td>
            17
        </td>
        <td>
            24
        </td>
        <td>
            -7
        </td>
        <td>
            5
        </td>
    </tr>    <tr>
        <td>
            12
        </td>
        <td>
            Cafu Ole FS
        </td>
        <td>
            8
        </td>
        <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            2
        </td>
         <td class="hide-on-phones">
            5
        </td>
         <td>
            21
        </td>
        <td>
            34
        </td>
        <td>
            -13
        </td>
        <td>
            5
        </td>
    </tr>    <tr class="camellos">
        <td>
            13
        </td>
        <td>
            FS Camellos
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            6
        </td>
         <td>
            22
        </td>
        <td>
            48
        </td>
        <td>
            -26
        </td>
        <td>
            3
        </td>
    </tr>    <tr>
        <td>
            14
        </td>
        <td>
            Leganes FS Red Devils
        </td>
        <td>
            7
        </td>
        <td class="hide-on-phones">
            1
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            7
        </td>
         <td>
            20
        </td>
        <td>
            52
        </td>
        <td>
            -32
        </td>
        <td>
            3
        </td>
    </tr>    <tr>
        <td>
            15
        </td>
        <td>
            FS AT Trabenco
        </td>
        <td>
            1
        </td>
        <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            1
        </td>
         <td>
            0
        </td>
        <td>
            1
        </td>
        <td>
            -1
        </td>
        <td>
            0
        </td>
    </tr>    <tr>
        <td>
            16
        </td>
        <td>
            Descansa
        </td>
        <td>
            8
        </td>
        <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td class="hide-on-phones">
            0
        </td>
         <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
    </tr></tbody></table> </section>
</div>
