<p ng-if="vm.loading">cargando</p>
<div id="content" ng-if="!vm.loading">
    <section class="row">
        <div class="results column g-6">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">{{vm.previousMatch.name}} ({{vm.previousMatch.fecha | date : "dd-MM-yyyy"}})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        ng-class="{'camellos': match.local === 'FS Camellos' || match.visitante === 'FS Camellos'}"
                        ng-repeat="match in vm.previousMatch.partidos">
                        <td>
                            {{match.local}}
                        </td>
                        <td>
                            {{match.golesLocales}}
                        </td>
                        <td>
                            {{match.golesVisitantes}}
                        </td>
                        <td>
                            {{match.visitante}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="results column g-6">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">{{vm.nextMatch.name}} ({{vm.nextMatch.fecha | date : "dd-MM-yyyy"}})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        ng-class="{'camellos': match.local === 'FS Camellos' || match.visitante === 'FS Camellos'}"
                        ng-repeat="match in vm.nextMatch.partidos">
                        <td>
                            {{match.local}}
                        </td>
                        <td>
                            {{match.golesLocales}}
                        </td>
                        <td>
                            {{match.golesVisitantes}}
                        </td>
                        <td>
                            {{match.visitante}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <table id="clasificacion">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th class="hide-on-phones">PG</th>
                    <th class="hide-on-phones">PE</th>
                    <th class="hide-on-phones">PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DG</th>
                    <th>PT</th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    ng-class="{'camellos': team.name === 'FS Camellos'}"
                    ng-repeat="team in vm.clasification | orderBy:'puntos':true:vm.test">
                    <td>{{$index + 1}}</td>
                    <td>{{team.name}}</td>
                    <td>{{team.jugados}}</td>
                    <td>{{team.ganados}}</td>
                    <td>{{team.empatados}}</td>
                    <td>{{team.perdidos}}</td>
                    <td>{{team.golesFavor}}</td>
                    <td>{{team.golesContra}}</td>
                    <td>{{team.golesFavor - team.golesContra}}</td>
                    <td>{{team.puntos}}</td>
                </tr>
            </tbody>
        </table>

        <table class="friends">
            <tr>
              <th>Name</th>
              <th>Favorite Letter</th>
            </tr>
            <tr ng-repeat="friend in friends | orderBy:'favoriteLetter'">
              <td>{{friend.name}}</td>
              <td>{{friend.favoriteLetter}}</td>
            </tr>
          </table>
    </section>
</div>


